# Локальна директорія з плагінами Terraform
.terraform/

# Локальні файли стану (про всяк випадок, хоч ми і юзаємо бакет)
*.tfstate
*.tfstate.backup

# Файли зі змінними та СЕКРЕТНІ КЛЮЧІ
*.tfvars
terraform-key.json
